nav.navbar a {
  margin: 0px auto; }

.section.section1 {
  position: relative; }
  .section.section1 .carousel .carousel-inner .carousel-item {
    height: 350px; }
    .section.section1 .carousel .carousel-inner .carousel-item .carousel-caption {
      left: 0;
      text-align: left;
      padding-left: 15%;
      background-color: rgba(41, 186, 241, 0.9);
      bottom: 0;
      width: 75%; }
      .section.section1 .carousel .carousel-inner .carousel-item .carousel-caption p {
        font-size: 1.5rem; }
  .section.section1 .carousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: url(assets/icons/slider_left.png);
    height: 40px;
    opacity: 1; }
  .section.section1 .carousel .carousel-control-next .carousel-control-next-icon {
    background-image: url(assets/icons/slider_right.png);
    height: 40px;
    opacity: 1; }
  .section.section1 .carousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 10px;
    justify-content: end; }
  .section.section1 .form-wrapper {
    position: absolute;
    top: 0;
    right: 15%;
    width: 420px;
    height: 350px;
    background: #ffffff;
    padding: 25px; }
    .section.section1 .form-wrapper .package-plans {
      padding: 0; }
      .section.section1 .form-wrapper .package-plans h2 {
        font-size: 1.75rem;
        color: #20336B; }
      .section.section1 .form-wrapper .package-plans .form-group select, .section.section1 .form-wrapper .package-plans .form-group input, .section.section1 .form-wrapper .package-plans .form-group .input-group-text {
        border-radius: 0px;
        width: 100%; }
      .section.section1 .form-wrapper .package-plans .form-group select {
        height: 50px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(https://s3.ap-south-1.amazonaws.com/cdn.firstu.in/down-arrow.png) 90%/15px no-repeat #eee;
        background-color: #fff; }
      .section.section1 .form-wrapper .package-plans button {
        width: 100%;
        cursor: pointer;
        border-radius: 0;
        z-index: 22;
        position: relative; }
.section.section2 {
  padding: 40px 0; }
  .section.section2 .row {
    padding: 0 15px; }
  .section.section2 h2 {
    margin-bottom: 15px;
    color: #20336B; }
    .section.section2 h2 img {
      margin-right: 10px; }
  .section.section2 span {
    background-image: url(assets/icons/tick.png);
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding-left: 40px;
    background-position: left center;
    margin-bottom: 10px; }
.section.section3 {
  padding: 40px 0; }
  .section.section3 h2 {
    margin-bottom: 15px;
    color: #20336B; }
    .section.section3 h2.faq-title {
      margin-top: 30px; }
  .section.section3 .main-wrapper {
    margin-bottom: 20px; }
    .section.section3 .main-wrapper .wrapper {
      padding: 10px 20px;
      height: 90px;
      background-color: #0da2dc;
      color: #ffffff;
      align-items: center;
      display: flex; }
      .section.section3 .main-wrapper .wrapper .img-wrapper {
        display: inline-block; }
        .section.section3 .main-wrapper .wrapper .img-wrapper img {
          width: 40px;
          margin-right: 15px; }
      .section.section3 .main-wrapper .wrapper .text-wrapper {
        width: 80%;
        display: inline-block; }
  .section.section3 .faq-wrapper .wrapper .question {
    display: block;
    color: #000000; }
  .section.section3 .faq-wrapper .wrapper .answer {
    display: block;
    color: #888888; }
.section.section4 {
  padding: 40px 0;
  background-image: url(assets/icons/quote.png);
  background-repeat: no-repeat;
  background-size: 15% auto;
  background-position: 85% -1%; }
  .section.section4 h2 {
    margin-bottom: 15px;
    color: #20336B; }
  .section.section4 .carousel .carousel-inner .carousel-item {
    height: 220px; }
    .section.section4 .carousel .carousel-inner .carousel-item .carousel-caption {
      text-align: left;
      left: 0;
      bottom: unset;
      top: 0;
      width: 60%; }
      .section.section4 .carousel .carousel-inner .carousel-item .carousel-caption p.testimonial {
        color: #555555; }
      .section.section4 .carousel .carousel-inner .carousel-item .carousel-caption p.name {
        color: #333333;
        margin-bottom: 0; }
      .section.section4 .carousel .carousel-inner .carousel-item .carousel-caption p.designation {
        color: #555555;
        font-size: .8rem; }
  .section.section4 .carousel .carousel-control-prev {
    right: 25px;
    left: unset; }
    .section.section4 .carousel .carousel-control-prev .carousel-control-prev-icon {
      background-image: url(assets/icons/testimonial_left.png);
      height: 15px;
      width: 10px;
      opacity: 1; }
  .section.section4 .carousel .carousel-control-next .carousel-control-next-icon {
    background-image: url(assets/icons/testimonial_right.png);
    height: 15px;
    width: 10px;
    opacity: 1; }
  .section.section4 .carousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 10px;
    justify-content: end; }

footer {
  padding: 30px 0;
  border-top: 1px solid #dddddd; }
  footer .support {
    text-align: center; }
    footer .support a {
      text-decoration: none;
      color: #333333; }

.mobile-request {
  display: none; }

.modal-dialog {
  margin: 0; }
  .modal-dialog .modal-content {
    border-radius: 0;
    border: none; }
    .modal-dialog .modal-content .form-wrapper {
      background: #ffffff;
      padding: 25px; }
      .modal-dialog .modal-content .form-wrapper .package-plans {
        padding: 0; }
        .modal-dialog .modal-content .form-wrapper .package-plans h2 {
          font-size: 1.75rem;
          color: #20336B; }
        .modal-dialog .modal-content .form-wrapper .package-plans .form-group select, .modal-dialog .modal-content .form-wrapper .package-plans .form-group input, .modal-dialog .modal-content .form-wrapper .package-plans .form-group .input-group-text {
          border-radius: 0px;
          width: 100%; }
        .modal-dialog .modal-content .form-wrapper .package-plans .form-group select {
          height: 50px !important;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url(https://s3.ap-south-1.amazonaws.com/cdn.firstu.in/down-arrow.png) 90%/15px no-repeat #eee;
          background-color: #fff; }
        .modal-dialog .modal-content .form-wrapper .package-plans button {
          width: 100%;
          cursor: pointer;
          border-radius: 0;
          z-index: 22;
          position: relative; }

@media (max-width: 992px) {
  .section.section1 .form-wrapper {
    width: 300px; } }
@media (max-width: 768px) {
  .section.section1 .form-wrapper {
    display: none;
    background: #ffffff;
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    height: 370px;
    z-index: 22;
    box-shadow: 0px 0px 10px #aaa; }
    .section.section1 .form-wrapper .package-plans {
      padding: 0; }
      .section.section1 .form-wrapper .package-plans h2 {
        font-size: 1.75rem;
        color: #20336B; }
      .section.section1 .form-wrapper .package-plans .form-group select, .section.section1 .form-wrapper .package-plans .form-group input, .section.section1 .form-wrapper .package-plans .form-group .input-group-text {
        border-radius: 0px;
        width: 100%; }
      .section.section1 .form-wrapper .package-plans .form-group select {
        height: 50px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(https://s3.ap-south-1.amazonaws.com/cdn.firstu.in/down-arrow.png) 90%/15px no-repeat #eee;
        background-color: #fff; }
      .section.section1 .form-wrapper .package-plans button {
        width: 100%;
        cursor: pointer;
        border-radius: 0;
        z-index: 22;
        position: relative; }
  .section.section1 .carousel .carousel-inner .carousel-item {
    height: auto; }
    .section.section1 .carousel .carousel-inner .carousel-item .carousel-caption {
      width: 100%;
      text-align: center;
      padding-left: 0;
      position: relative; }
  .section.section1 .carousel .carousel-indicators {
    justify-content: center; }
  .section.section4 .carousel .carousel-inner .carousel-item .carousel-caption {
    width: 75%; }
  .section.section4 .carousel-control-prev, .section.section4 .carousel-control-next {
    align-items: flex-end; }

  .mobile-request {
    display: block;
    width: 100%;
    border-radius: 0;
    padding: 15px 0; } }
@media (max-width: 576px) {
  .section.section1 .carousel .carousel-inner .carousel-item {
    height: auto; }
  .section.section3 .main-wrapper {
    margin-bottom: 0; }
    .section.section3 .main-wrapper.even .wrapper {
      background-color: #20336B; }
  .section.section4 {
    background-size: 30% auto; }
    .section.section4 .carousel .carousel-inner .carousel-item {
      height: 320px; }
      .section.section4 .carousel .carousel-inner .carousel-item .carousel-caption {
        width: 100%; }

  footer {
    display: none; } }

/*# sourceMappingURL=dev.css.map */
