

// Semantic color scheme
$theme-colors: (
  primary: #2ABAF2,
  secondary: #20336B,
  success: #28a745,
  info: #00fbff,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
 
$enable-rounded:            true !default;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

// Variables
//
// Theme settings.

$body-bg: white;
$body-color: #292b2c;
$body-color-inverse: invert($body-color) !default;
$link-color: #007bff;


$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$h1-font-size: 2.5 * $font-size-base;
$h2-font-size: 2 * $font-size-base;
$h3-font-size: 1.75 * $font-size-base;
$h4-font-size: 1.5 * $font-size-base;
$h5-font-size: 1.25 * $font-size-base;
$h6-font-size: $font-size-base;

$display1-size: 6 * $font-size-base;
$display2-size: 5.5 * $font-size-base;
$display3-size: 4.5 * $font-size-base;
$display4-size: 3.5 * $font-size-base;

$border-radius: .25rem;


@import 'bootstrap-4.0.0';


body > * {
  background-size: cover;
}


.opaque-overlay {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: rgba(map-get($theme-colors, 'dark'), 0.25);
  }
}


.gradient-overlay {
  overflow: hidden;
  position: relative; 
  > *:first-child:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px; 
    pointer-events:none;
    background: linear-gradient(to top , map-get($theme-colors, 'dark') 0%, transparent 100%);

  }
}


//universal

//brand
.navbar-brand {
  margin: auto;
	margin-top:20px;
  margin-bottom:20px;

}
/*nav*/
.navbar-nav {
  margin-right:30px;
  
  .nav-item {
  	margin-right:30px;
  }
}



//typography
.main-title {
	font-weight:300;
  font-size: 2.3em;
}

.sub-title {
  font-weight:300;
  font-size: .9em;
  color: #979797;
}

.subtle-emphasis {
	@extend .sub-title;
  font-weight:400;
  font-size: 1.4em;
}

//more
  
  .py-5.level {
   padding-top: 40px!important;
   padding-bottom: 20px!important;
  
  }
  
  .py-5.level-body {
    padding-top: 40px!important;
    padding-bottom: 0px!important;
  
  }



//banner area
.quote-form {

    	margin-top: -130px;
      height: 200px;
			/*z-index:999;*/
    	
   }
.first {
    		input { 
					border-bottom-left-radius: 5;
					border-top-left-radius: 5; 
  			}
}

.last {
    		input { 
					border-bottom-right-radius: 0;
					border-top-right-radius: 0; 
  			}
}

.quote-form-container {
		padding: 50px 0px;
  	background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
  input, button, .select, .chosen-container {
  	width: 100%;
    padding: 12px 8px;
    border-radius:0px;
  }
  .select-container {
  	
    
     select{ 
          height: 50px !important;
         -webkit-appearance: none; 
         -moz-appearance: none;
         appearance: none;       /* remove default arrow */
         /* add custom arrow */
         background: url(assets/icons/down-arrow.png) 90% / 15px no-repeat #eee;
         background-color: #fff;

      }  
    
      select::-ms-expand { 
        display: none; /* hide the default arrow in ie10 and ie11 */
      }
  
  }
  

  
  .col-md-4, .col-md-2 { padding:0; }

  form { padding: 0px 50px}


  
}




//banner-icons
.banner {
  min-height: 640px;
  
  //icons
  .accident, .servicing, .repairs { 
    display: block; 
    background: url('assets/icons/hero-icons.png')
    no-repeat; overflow: hidden; 
    text-indent: -9999px; 
    text-align: left; 
    margin-top: 90px;
    margin-left: auto;
		margin-right: auto;
  }
 	.accident { background-position: 0px -0px; width: 145px; height: 96px; margin-top:100px }
	.servicing { background-position: 0px -96px; width: 140px; height: 100px; }
	.repairs { background-position: 5px -195px; width: 138px; height: 115px; background-size:auto; }
  
  .icon-label {
  
    margin-left: auto;
		margin-right: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4em;
  
  }
  
  .main-heading {
   font-size:2.7em;
   padding-bottom: 30px ;
   font-weight: 200;
   
  }
  
  .lead {
	  font-size:1.4em;

    margin: auto auto;
  }

}

.mt-5, .my-5 {
	margin-top: 1.5rem!important;

}

.level {
  margin-bottom: 50px;
  h1.l-title {
    font-size:1em;
  
  }

}

.level-heading {

  margin-bottom:0px;
}


.level.l1.py-5 {
	margin-bottom:0px;

}


.l2-title {


}

.l2-body {
  .my-1 {
  	font-size:.9em!important;
  }
  .row {
  	margin-bottom: 30px;
  }
  h5.mb-3 {
  margin-bottom:5px!important;
    
  }
}

.level.l3.py-5 {
	padding-bottom: 60px!important;
}

.l4-body {
  .py-5{  
    margin-top: 0px!important;
    padding-top:0px!important; 
  }
  
	p {
   font-size:1.4em; 	
  }
  .text-secondary  {

    font-size: 1.4em;
		font-weight:500;
  }
  
  .box {
  	border: 1px solid #c3c3c3;
    padding: 40px 30px 60px 30px;
		min-height: 300px;    
    height: auto;
    
    h5.mb3 {

    }
    
    .my-1 {
  	font-size:.9em!important;
  	}
    
    .icon {
    	margin-bottom: 20px;
    }
  }
  .box.right  {
		margin-left: 20px;
  }  
}

.footer {
  border-top:  1px solid #c3c3c3;
 	.list-unstyled , .address{
    margin-top: 30px;
    li {
      margin-bottom: 5px;
    }
  }

}

//responsive
@include media-breakpoint-down(xs) {
  .level.l1.py-5 {
 			margin-top: 150px;
  }
}

@include media-breakpoint-down(sm) {
  
  .navbar.navbar-light {
    button.navbar-toggler {
    	border:none!important;
      color: #20336B;
    }
  }
  .navbar {
    padding-bottom: 0px;
    .navbar-nav {
        .nav-item {
            margin-right: 0px;
        }
      }
      .navbar-btn {
          width: 120%;
          margin-left: -30px;
      }
  }
  .level.l1.py-5 {
 			margin-top: 150px;
  }
  
  .l4-body{
     .row.box.right  {
      margin-left: 0px!important;
     }

     .row.box {
      border: none;
      margin: auto 0px!important;
      padding-bottom: 10px!important; 
    }
  }

}

//pingendo hack

pingendo {
display:none!important;
}
