// New Landing Page CSS
#newlanding{
  .main-title{
    font-weight: 500; 
  }
  .button:hover {
    color: #fff;
    background-color: #2ABAF2;
    border-color: #2ABAF2;}

  .newlandingbanner2{
    background-image: linear-gradient(to right top, #1e2a59, #264a7f, #2c6da4, #3292c8, #3cb8ea) !important;
    position: relative;
    .bantext.light{
      color:#2abaf2;
    }
    .bg-icon{
      position:absolute;
      right: 0;
      top: 0;
      img{
        width: auto;
        height: 175px;
      }
    }
  }
  .level.l3.py-5 {
    padding-bottom: 40px !important;
    margin-top: 40px;
    padding-top: 30px !important;
}
.package-plans{
  p{
    padding-left: 8px;
  }
}
    .col-8{

        text-align: center;
      }
  
    .packages-wrapper{
    margin-top: 30px;
    .package-head{
      height: 265px;
      background-image: linear-gradient(to right top, #1e2a59, #264a7f, #2c6da4, #3292c8, #3cb8ea) !important;
    }
    .package-plans {
      text-align: left;
      .odd-even:nth-child(odd){
        // background-color: #e3e3e3;
        background:none;
      }
      .odd-even:nth-child(even){
        // background-color: #f6f6f6;
        background:none;
      }
      .save{
        p{
          color: #1E2A59;
          padding:0;
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 18px !important;
        }
      }
      .save-button{
        text-align: center;
        .btn{
          border-radius:0;
        }
      }
    }
    #package-plans-section{
      margin-top: -150px;
      .parent{
        background-color:#ffffff;
        padding: 15px;
        width: 70%;
        .row{
          padding: 0 15px;
          .package-para{
            padding: 20px !important;
            margin-bottom: 0;
            color: #1E2A59 !important;
            &.odd{
              background-color: #e3e3e3;
            }
            &.even{
              background-color: #f6f6f6;
            }
          }
          .package-img-col,.premium-col{
            border:none;
            padding: 0;
            margin: 0;
            padding-right: 15px;
            display: flex;
            &.odd{
              p{
                background-color: #e3e3e3;
              }
            }
            &.even{
              p{
                background-color: #f6f6f6;
              }
            }
            p{
              text-align: center;
              margin-bottom: 0;
              padding: 20px;
              width: 100%;
              color: #1E2A59 !important;
              &.mobile{
                display: none;
              }
              &.large{
                display: block;
              }
            }
          }
          .premium-col{
            &.odd{
              p{
                background-color: #f6f6f6;
              }
            }
            &.even{
              p{
                background-color: #f6f6f6;
              }
            }
          }
        }
        .basic-col{
          padding-right:15px;
          .btn{
            width: 100%;
            border-radius: 0;
            background-color: #1E2A59;
          }
        }
        .premium-col{
          .btn{
            width: 100%;
            border-radius:0;
            background-color: #1E2A59;
          }
        }
      }
    }
  }
  .faq-wrapper{
    .faq-title{
      background-image: linear-gradient(to right, #0e2048 , #3cb8ea);
      h1{
        color: #ffffff !important;
      }
    }
    .accordion{
      .faq{
        border-bottom:1px solid #e5e5e5;
        .faq-header{
          h2{
            button.btn{
              width: 100%;
              text-align: left;
              color:#122e57;
              text-decoration: none;
              padding:0;
              background-image:url(assets/icons/faq_u.png);
              background-repeat: no-repeat;
              background-size: 25px;
              background-position: center right;
              white-space: normal;
              padding-right: 30px;
              padding-left: 10px !important;
              &.collapsed{
                background-image:url(assets/icons/faq_d.png);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center right;
                white-space: normal;
                padding-right: 30px;
                padding-left: 10px !important;
              }
            }
          }
        }
        .faq-body-wrapper{
          .faq-body{
            padding-left: 10px !important;
            padding:20px 0;
            padding-right: 50px !important;
            color: #464648;

          }
        }
      }
    }
  }
  footer{
    .newfoot{
      // padding:0 !important;
      .main-title{
        font-weight: normal;
      }
    }
  } 
  .newban5{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    background-image: linear-gradient(to right top, #1e2a59, #264a7f, #2c6da4, #3292c8, #3cb8ea) !important;
    .iconhow {
      width: auto;
      height: 60px;
    }
    .main-title{
      margin-top: 1.5rem;
    }
  }
  .newbanner4 .l2-body {
    border: 1px solid #b5b4b4;
    padding: 85px 125px 20px 100px;
    box-shadow: 0px 0px 4px 1px #b5b4b4;

}
.iconwhat-diff {
    width: 60px;
    height: auto;
    padding: 8px;
}
::placeholder {
    color: #495057;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #495057;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #495057;
}

  #newlandingbanner3 {
    background-color: #f6f6f6;
    .iconbox {
      .iconhow{
        width: auto;
        height: 60px;
        margin-bottom: 25px;
      }
    }
    h1{
      color: #1E2A59 !important;
    }
  }
 
  #what-we-give {
    padding:40px 0 !important;
    h1{
      color: #1E2A59 !important;
      margin-bottom: 0;
    }
  }
  .newbanner4{
    padding-top:0 !important;
    .iconwhat{
      width: 60px;
      height: auto;
    }
  }
  .neverdiv{
    .quote-form{
      height: auto;
      margin-bottom: 0;
    }
    .landing-form{
      .quote-form-container{
        box-shadow: none;
        .package-plans{
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          padding: 15px 40px;
          margin-top: 30px;
          .text{
            font-size: 20px;
            font-weight: 500;
            margin-left: -15px;
            margin-top: 10px;
            margin-bottom: 5px;
            color: #1e2a59 !important;
          }
        }
      }
    }
  }
}

// New Landing Page CSS ends here //

@media (min-width: 0px) and (max-width: 992px) { 
  // New Landing Page CSS
  #newlanding{
    #newlandingnav{
    }
    .newlandingbanner {
      h1{}
      .banhead{
        padding:0;
      }
      .bantext{
        padding:3% 0% 3% 0%;
      }
      .buy-now-btn{
        
        position:relative !important;
        top: unset !important;
        right: unset !important;
        left: unset !important;            
      }
    }
    .newlandingbanner2 {
      h1{
        width: 60%;
      }
      .bg-icon{
        // display: none;
      }
    }
    .newbanner4{
      .wrapper{
        padding:50px;
        .left-col{
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
          margin-bottom: 15px;
        }
        .right-col{
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
        }
      }
    }
    .packages-wrapper{
      #package-plans-section{
        /*margin-top: -50px !important;*/
        .parent{
          width: 100%;
          padding-right:0;
          .row{
            &#sticky{
              .basic-col, .premium-col{
                margin: 0;
                width: 50%;
                flex: 0 0 50%;
                max-width: 50%;
              }
            }
            .para-head{
              display: none;
            }
            .package-para{
              display: none;
            }
            .package-img-col,.premium-col{
              width: 50%;
              flex: 0 0 50%;
              max-width: 50%;
              p{
                &.mobile{
                  display: block;
                }
                &.large{
                  display: none;
                }
              }
              &.odd{
                p{
                  text-align: left;
                  background-color: #e3e3e3;
                }
              }
              &.even{
                p{
                  background-color: #f6f6f6;
                  text-align: left;
                }
              }
            }
            .save{
              text-align: center;
              padding-right:30px;
            }
            .save-button{
              padding-right:30px;
              p{
                padding-left:0;
              }
              .buy-now-btn{
                position:relative !important;
                top:unset !important;
                right: unset !important;
                left: unset !important;
                width: auto !important;
                padding-left: 35px;
                padding-right: 35px;
                white-space: normal;
                height: auto;
              }
            }
          }
        }
      }
    }
    .neverdiv {
      .quote-form{
        height: auto;
        margin-bottom: 50px;
        margin-top: -30px;
      }
      .landing-form-container{
        overflow: hidden;
        .quote-form-container {
          .select-container {
            select{
              /*background: url(https://s3.ap-south-1.amazonaws.com/cdn.firstu.in/down-arrow.png) 98%/15px no-repeat #eee !important;*/
            }
          }
        }
      }
      .form-3 {
        .col-md-4{
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          margin-top: 0;
          margin-bottom: 15px;
        }
        .button-wrapper{
          padding:0;
        }
      }
    }
    .newban5{
      padding: 0px !important;
    }
    .cust-head{
      padding:30px 0 !important;
    }
    .cust-stories {
      .row{
        padding-left:0;
      }
      .wrapper{
        margin-bottom: 25px;
        padding-right:0;
      }
    }
  }
}


@media (min-width: 300px) and (max-width: 720px) { 
#newlanding .packages-wrapper .package-plans .save p {
  font-size: 14px !important;
}
  // New Landing Page CSS
  #newlanding{
    .newbanner4{
      .wrapper{
        padding:50px;
        .newbanner4div,.lastnewbanner4div{
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          .left-col{
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
          .right-col{
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}